*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    background-color: #edf2fb;
    color: #141b41;
}

.quiz-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

#next{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1%;
    font-weight: bold;
    cursor: pointer;
    background-color: #141b41;
    color: #ff6d00;
}

#next:hover{
    background-color: #ff6d00;
    color: #141b41;
}

#options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.option-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #141b41;
    background-color: #edf2fb;
    font-size: 16px;
    font-weight: bold;
}

.option-btn:hover{
    cursor: pointer;
}

.score-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

#score-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#restart{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1%;
    font-weight: bold;
    cursor: pointer;
    background-color: #ff6d00;
    color: #141b41;
}

#restart:hover{
    background-color: #141b41;
    color: #ff6d00;
}

.hidden{
    display: none;
}